.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    margin: 2rem;
    padding: 2rem;
}

.title {
    color: #0c0b00;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.highlight {
    color: #deb522;
}

.description {
    color: #0c0b00;
    font-size: 1.75rem;
    text-align: center;
    padding: 0.2rem 0.5rem;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.button {
    background-color: #0c0b00;
    padding: 0.5rem 1rem;
    color: #fcf7f7;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #0c0b00;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;
}

.button span:last-child {
    display: none;
}

.button:hover {
    transition: 0.4s;
    border: 2px dashed #0c0b00;
    background-color: #deb522;
    color: #0c0b00;
}

.button:active {
    background-color: #0c0b00;
}
