.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 3rem;
}

.movies_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
}

.movie_link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    text-decoration: none;
    color: inherit;
}

.movie_link:visited {
    color: inherit;
}

.movie_link:hover {
    text-decoration: none;
}
